---
// Component Imports

import JollyRoger from "../components/JollyRoger";
import { ViewTransitions, fade } from "astro:transitions";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>My home</title>

    <ViewTransitions />

    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
        background-color: #0c0f13;
      }
      body {
        padding: 2rem;
      }
    </style>
  </head>
  <body transition:animate={fade({ duration: "0.4s" })}>
    <!-- <body transition:animate="fade"> -->
    <main>
      <div class="flex h-screen flex flex-col items-center justify-center">
        <JollyRoger client:load />
      </div>
    </main>
  </body>
</html>
