---
import { ViewTransitions, fade } from "astro:transitions";
import jollyRoger from "../assets/images/jolly-roger-cartoon.png";
import { slide } from "astro:transitions";
import PirateScene from "../components/PirateScene.jsx";
import MusicPlayer from "../components/MusicPlayer.jsx";
---

<html lang="en">
  <head>
    <title>My Homepage</title>
    <ViewTransitions />
  </head>

  <body>
    <!-- <body transition:animate="fade"> -->
    <main>
      <div class="w-100 h-screen relative">
        <PirateScene client:load />
        <MusicPlayer client:load transition:persist="media-player" />
        <h1 class="absolute top-0">La mer</h1>
      </div>
    </main>
  </body>
</html>
