---
import { ViewTransitions, fade } from "astro:transitions";
import jollyRoger from "../assets/images/jolly-roger-cartoon.png";
import { slide } from "astro:transitions";
import PirateScene from "../components/PirateScene.jsx";
---

<html lang="en">
  <head>
    <title>My Homepage</title>
    <ViewTransitions />
  </head>

  <body>
    <!-- <body transition:animate="fade"> -->
    <main>
      <!-- <div class="absolute">
        <img
          class="transition-all transition-duration-500"
          transition:name="pirate"
          src={jollyRoger.src}
          alt="Jolly roger figure"
          width="200"
          height="200"
        />
      </div> -->
      <div class="w-100 h-screen">
        <PirateScene client:load />
      </div>
    </main>
  </body>
</html>
